/*

!.gitignore
!.bash_aliases
!.bash_logout
!.bashrc
!.clang-format
!.gitconfig
!.profile
!.theanorc
!.tmux.conf
!.vimrc
!README.md
!package-lock.json
!package.json
!.XCompose
!.xsessionrc
!.gnomerc
!.xinitrc
!.xprofile

# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
!/.config/
/.config/*
!/.config/autostart/
